.container{
    max-width: var(--max-width);
margin: 0 auto;
margin: 60px;
padding: 0 10px;
}

.title{
    font-family: Intro Bold;
font-size: 30px;
font-weight: 700;
line-height: 30px;
text-align: left;
}

.container h1 {
    margin: 40px 0;
    color: var(--text);
   font-family: var(--logo-font);
}

.sneakers_block{
    display: grid;
    width: 100%;
    grid-template-columns: 25% auto;
    gap: 20px;
}

@media screen and (max-width: 1265px) {
    .container{
        margin: 60px 0;
    }
    .sneakers_block {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    
}